# ignore emacs backups and stuff
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/url
emacs.d/thumbs
emacs.d/org-clock-save.el
emacs.d/bookmarks
emacs.d/eproject.lst
emacs.d/ac-comphist.dat
emacs.d/.org-id-locations
emacs.d/projectile-bookmarks.eld
elisp/nxhtml/
elisp/ac-dict/

# ignore ssh
ssh

# ignore offlineimap
offlineimap.py
offlineimaprc

# pentadactyl stuff
pentadactyl/info

